body {
background: url("music_background_img.jpg") no-repeat center center fixed;
background-size: cover;
}

h1 {
  text-align: center;
  color: black;
}

#title {
  color: black;
}

.player {
  margin-left: 37rem;
}

.inputforsong {
  width: 60rem;
}

.search-form {
  margin-left: 25rem;
  margin-bottom: -19px;
}

section.results {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

hr {
  background-color: gray;
  height: 1px;
  border: 0;
  margin-top: 60px;
}

h3 {
  color: black;
}

#musicsearch {
  width: 60rem;
  margin-left: 14rem;
}

img {
  width: 9rem;
  height: 8rem;
}

.button {
  margin-left: 75rem;
  width: 115px;
  border-radius: 5px;
}

.wrapper {
  background-color: transparent;
  color: white;
  border-color: white;
  border: solid;
  width: 270px;
  margin-bottom: 10px;
}
